@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,700&display=swap');
body {
  font-family: 'Saira Extra Condensed', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2em;
  padding: 0px;
  margin: 0px;
}
header {
  font-size: 1.8em;
  text-align: right;
}
footer {
  border-top: 3px solid lightsteelblue;
}
